 <!-- Table of Contents -->
 <% if (is_post()){ %>
  <aside id="sidebar" class="post-container">
    <div id="toc" class="toc-article">
    <!-- mytoc -->
    <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" style= "top:20px;" role="complementary">
        <h4><i class="fa fa-bookmark"></i> Catalog</h4>
        <ul class="nav bs-docs-sidenav">

        </ul>

    </div>
    </div>
  </aside>
<% } %>